venv/
data/input/*
data/output/*
data/test.db
!data/input/.gitkeep
!data/input/file_example_MP3_5MG.mp3
!data/output/.gitkeep
.idea/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.__pycache__
